<div class="editor">
    <div class="editor__container">
        <div class="editor__photo" #box>
            <canvas #canvas></canvas>
            <input type="text" 
            [(ngModel)]="text" 
            (change)="onChangeText($event)" 
            class="editor__text"
            *ngIf="showText"
            #textEl
            />
        </div>
        <div class="editor__preview" #preview> 
            <ng-container *ngFor="let preview of images; let i = index">
                <div class="editor__preview__item" (click)="setCurrent(i)">
                    <img [src]="preview" class="editor__preview__img"/>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="editor__tools">
        <a (click)="newtext()" class="editor__control">New text block</a>
        <a (click)="zoomin()" class="editor__control">Zoom in</a>
        <a (click)="zoomout()" class="editor__control">Zoom out</a>
        <a (click)="rotate()" class="editor__control">Zoom rotate</a>

        <a (click)="undo()" class="editor__control _top">Un Do</a>
        <a (click)="redo()" class="editor__control">Re Do</a>
    </div>
</div>

